<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <!-- Site Properties -->
  <title>Fixed Menu Example - Semantic</title>

  <link rel="stylesheet" type="text/css" th:href="@{/dist/components/reset.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/dist/components/site.css}"/>

  <link rel="stylesheet" type="text/css" th:href="@{/dist/components/container.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/dist/components/grid.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/dist/components/header.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/dist/components/image.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/dist/components/menu.css}"/>

  <link rel="stylesheet" type="text/css" th:href="@{/dist/components/divider.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/dist/components/list.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/dist/components/segment.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/dist/components/dropdown.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/dist/components/icon.css}"/>

  <style type="text/css">
  body {
    background-color: #FFFFFF;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  </style>

</head>
<body>
 <div class="ui fixed inverted menu" th:fragment="header">
    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="assets/images/logo.png" />
        Survey Online
      </a>
      <a href="#" class="item">Home</a>
      <div class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
