@CHARSET "UTF-8";
#main {
	padding: 25px 250px;
	font-size: 16px;
}
#btn {
	margin: auto;
	padding-top: 20px;
	padding-left: 40%;
	font-size: 30px;
}
.wide{
	font-weight: bold;
}
.header {
	text-align: center;
	padding: 25px 25px;
}
#item1 {
	margin-left: 5em;
}
#dropdown{
	color: rgba(255,255,255,0.5);
}
#table {
	padding:10px 7em;
}