<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"
	rel="stylesheet" />

<link rel='stylesheet prefetch'
	th:href='@{/css/menu.css}' />
<link rel='stylesheet prefetch'
	th:href='@{/css/style.css}' />
<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.css}"/>

<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.js"></script>

<style type="text/css">
#btn {
	margin: auto;
	padding-top: 20px;
	padding-left: 40%;
	font-size: 30px;
}
</style>
</head>
<body>
	<div class="ui inverted segment">
		<div class="ui inverted secondary pointing menu">
			<a th:href="@{/}" class="item" id="item1"> Home </a> <a
				th:href="@{/selectScenario}" class="active item"> Survey </a> <a
				class="item"> Results </a>
			<div class="ui simple dropdown item" id="dropdown"> Management 
				<i class="dropdown icon"></i>
				<div class="ui inverted vertical menu" id="dropDownMenu">
					<a class="item" th:href="@{/admin/listUser}">User Management</a> 
					<a class="item" th:href="@{/admin/listQuestion}">Question Management</a> 
					<a class="item" th:href="@{/admin/listCategory}">Category Management</a> 
					<a class="item" th:href="@{/admin/listScenario}">Scenario Management</a> 
					<a class="item" th:href="@{/admin/listAttribute}">Attribute Management</a>   
					
				</div>
			</div>
			<a class="right item" th:href="@{/logout}" style="color: white">
				<i class="user icon"></i> Log out
			</a>
		</div>

	</div>

	<div id="main">
	<form class="ui form" method="POST" th:action='@{createSurvey}' name="frmAddQuestion" id="formQuestion" >
		<h1 class="ui dividing header">Select Scenario</h1>
		<div class="field">
			<label>UserName</label> 
			<input type="text" th:field="*{userScenario.user.username}" readonly="readonly" required="required" />
		</div>
		<div class="field">
			<label> Category </label> 
			<select class="ui search dropdown" th:field="*{userScenario.scenario}">
				<option th:each="scenario : ${allScenarios}" th:value="${scenario.scenarioId}" th:text="${scenario.scenarioName}">Wireframe</option>
			</select>
		</div>
		<div class="ui buttons" id="btn">
			<a class="ui positive button" th:href="@{/}">Cancel</a>
			<div class="or"></div>
			<button class="ui positive button">Submit</button>
		</div>
	</form>
	</div>



</body>
</html>