<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<div th:each="question: ${listQuestion}">
		<label th:text="${question.questionContent}"></label>
	
	
	</div>
</body>
</html>