<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"
	rel="stylesheet" />

<link rel='stylesheet prefetch'
	th:href='@{/css/menu.css}' />
<link rel='stylesheet prefetch'
	th:href='@{/css/style.css}' />
<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.css}"/>

<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.js"></script>


<style type="text/css">
#dropdown{
	color: rgba(255,255,255,0.5);
}
</style>
</head>
<body>
	<div class="ui inverted segment">
		<div class="ui inverted secondary pointing menu">
			<a th:href="@{/}" class="item" id="item1"> Home </a> 
			<a th:href="@{/selectScenario}" class="item"> Survey </a> 
			<a th:href="@{/listResult}" class="active item"> Results </a>
			<div class="ui simple dropdown item" id="dropdown"> Management 
				<i class="dropdown icon"></i>
				<div class="ui inverted vertical menu" id="dropDownMenu">
					<a class="item" th:href="@{/admin/listUser}">User Management</a> 
					<a class="item" th:href="@{/admin/listQuestion}">Question Management</a> 
					<a class="item" th:href="@{/admin/listCategory}">Category Management</a> 
					<a class="item" th:href="@{/admin/listScenario}">Scenario Management</a> 
					<a class="item" th:href="@{/admin/listAttribute}">Attribute Management</a>  
					<a class="item" th:href="@{/admin/listAttribute}">Attribute Management</a>  
				</div>
			</div>
			<a class="right item" th:href="@{/logout}" style="color: white">
				<i class="user icon"></i> Log out
			</a>
		</div>

	</div>
	<h1 class="ui header">Danh sách Survey</h1>
	<div id="table">
		<table class="ui selectable celled  table" id="tableAttribute">
			<thead>
				<tr>
					<th>User</th>
					<th>Scenario</th>
					<th>Created at</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="userScenario : ${listUserScenario}">
					<td th:text="${userScenario.user.username}"></td>
					<td th:text="${userScenario.scenario.scenarioName}"></td>
					<td th:text="${userScenario.createdAt}"></td>
					<td><a th:href="@{/detailResult(userScenarioId=${userScenario.userScenarioId})}">Detail</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>