<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"
	rel="stylesheet" />

<link rel='stylesheet prefetch'
	th:href='@{/css/menu.css}' />
<link rel='stylesheet prefetch'
	th:href='@{/css/style.css}' />
<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.css}"/>

<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.js"></script>
<style type="text/css">
body>.grid {
	height: 100%;
}

.image {
	margin-top: -100px;
}

.column {
	max-width: 450px;
}

body {
	padding: 100px;
}
</style>
</head>
<body >
	<div class="ui middle aligned center aligned grid" id="login-box">
		<div class="column">
			<h2 class="ui image header">
				<div class="content" >
					<h1>Log-in to your account</h1>
				</div>
			</h2>
			
				<div th:if="${param.error}" class="error">${error}</div>
			
			
				<div th:if="${param.logout}" class="msg">${msg}</div>

			<form th:action="@{/login}" method="post" class="ui large form">
				<div class="ui stacked secondary  segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i> <input type='text' name='username'
								placeholder="Username"></input>
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i><input type='password' name='password'
								placeholder="Password"></input>
						</div>
					</div>
					<input class="ui fluid large teal submit button" name="submit"
						type="submit" value="submit" />
				</div>

				<div class="ui error message"></div>

			</form>
		</div>
	</div>
</body>
</html>