<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"
	rel="stylesheet" />

<link rel='stylesheet prefetch'
	th:href='@{/css/menu.css}' />
<link rel='stylesheet prefetch'
	th:href='@{/css/style.css}' />
<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.css}"/>

<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.js"></script>

<style type="text/css">
#main {
	padding: 25px 250px;
	font-size: 16px;
}

#btn {
	margin: auto;
	padding-top: 20px;
	padding-left: 40%;
	font-size: 30px;
}
</style>
<script th:inline="javascript">
$(document).ready(
		function() {
			$("#multi-select").dropdown("get value");
		});
</script>

</head>
<body>
	<div id="main">
		<form class="ui form" method="POST" th:action='@{/admin/saveQuestion}'>
			<h1 class="ui dividing header">Question Information</h1>
			<div class="field">
				<label>QuestionID</label> <input type="text" name="questionId"
					th:value="${question.questionId}" readonly="readonly"
					required="required" />
			</div>
			<div class="field">
				<label>Question Content</label> <input type="text"
					name="questionContent" th:value="${question.questionContent}"
					required="required" />
			</div>
			<div class="field">
				<label>
					Category
				</label>
				<select th:field="*{question.category}">
					<option th:each="category : ${allCategories}" th:value="${category.categoryId}" th:text="${category.categoryName}">Wireframe</option>
				</select>
			</div>
			
			<div class="ui multiple selection dropdown">
				<i class="dropdown icon"></i>
				<div class="default text">Tag Multiple Attributes</div>
				<select  id="multi-select" th:field="*{listAttributeVO.listAttribute}" multiple="multiple">
					<option th:each="attribute: ${allAttributes}" th:value="${attribute.attributeId}" th:text="${attribute.attributeName}"></option>
				</select>
			</div>
			<br />
			<div class="ui buttons" id="btn">
				<a class="ui positive button" th:href="@{/admin/listQuestion/}">Cancel</a>
				<div class="or"></div>
				<button class="ui positive button">Submit</button>
			</div>
		</form>
	</div>
</body>
</html>