<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<script th:src="@{/js/Chart.bundle.js}"></script>
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/analyser.js}"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"
	rel="stylesheet" />

<link rel='stylesheet prefetch'
	th:href='@{/css/menu.css}' />
<link rel='stylesheet prefetch'
	th:href='@{/css/style.css}' />
<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.css}"/>

<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.js"></script>

<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>
<style type="text/css">
#main {
	padding: 25px 150px;
	font-size: 16px;
}

.header {
	padding: 25px 25px;
}

#btn {
	margin: auto;
	padding-left: 45%;
	font-size: 30px;
}
</style>
</head>
<body>
	<div class="ui inverted segment">
		<div class="ui inverted secondary pointing menu">
			<a th:href="@{/}" class=" item" id="item1"> Home </a> <a
				th:href="@{/selectScenario}" class="item"> Survey </a> <a
				th:href="@{/listResult}" class="active item"> Results </a>
			<div class="ui simple dropdown item" id="dropdown">
				Management <i class="dropdown icon"></i>
				<div class="ui inverted vertical menu" id="dropDownMenu">
					<a class="item" th:href="@{/admin/listUser}">User Management</a> <a
						class="item" th:href="@{/admin/listQuestion}">Question
						Management</a> <a class="item" th:href="@{/admin/listCategory}">Category
						Management</a> <a class="item" th:href="@{/admin/listScenario}">Scenario
						Management</a> <a class="item" th:href="@{/admin/listAttribute}">Attribute
						Management</a>

				</div>
			</div>
			<a class="right item" th:href="@{/logout}" style="color: white">
				<i class="user icon"></i> Log out
			</a>
		</div>

	</div>
	<div id="main">
		<form th:action="@{/}" class="ui form" >
			<h1>Result Survey</h1>
			<div class="field">
				<label>Total Score</label>
				<input th:value="${resultVO.totalScore}" readonly="readonly"/>
			</div>
			<div class="field" th:each="groupaVO : ${resultVO.listGroupaVO}">
				<label th:text="${groupaVO.groupaName}" ></label>
				<div class="field" style="padding-left: 30px">
					<div class="inline field" >
						<label>Weight</label>
						<input th:value="${groupaVO.weight}" readonly="readonly" />
					</div>
					<div class="inline field">
						<label>Score Groupa</label>
						<input th:value="${groupaVO.scoreGroupa}" readonly="readonly"/>
					</div>
					<div class="field">
						<label>List Attribute</label>
					</div>
					<div class="four fields">
						<div class="field"  th:each="attributeVO: ${groupaVO.listAttributeVO}">
							<div class="field" style="padding-left: 40px">
								<label th:text="${attributeVO.attributeName}" ></label>
								<label>Score</label>
								<input th:value="${attributeVO.score}" readonly="readonly"/>
								<label>Number Question</label>
								<input th:value="${attributeVO.numQuestion}" readonly="readonly"/>
								<label>Number True Answer</label>
								<input th:value="${attributeVO.numTrueAnswer}" readonly="readonly"/>
								<label>Score Attribute</label>
								<input th:value="${attributeVO.scoreAttribute}" readonly="readonly"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<canvas id="attributeChart" width="600" height="400"></canvas>
				</div>
				
				<div class="field">
					<canvas id="groupaChart" width="600" height="400"></canvas>
				</div>
				
			</div>
			<script type="text/javascript" th:inline="javascript">
				var labels1 = [];
				var data1=[];
				var label2=[];
				var data2=[];
				var listGroupaVO=[[${resultVO.listGroupaVO}]];
				//<![CDATA[
					for(i=0;i<listGroupaVO.length;i++){
						var groupaVO=listGroupaVO[i];
						console.log(groupaVO);
						label2.push(groupaVO.groupaName);
						data2.push(groupaVO.scoreGroupa);
						for(j=0;j<groupaVO.listAttributeVO.length;j++){
							var attributeVO=groupaVO.listAttributeVO[j];
							labels1.push(attributeVO.attributeName);
							data1.push(attributeVO.scoreAttribute);
						}
					}
					//]]>
				var groupaCanvas=document.getElementById("groupaChart");
				var groupaData={
					labels: label2,
					  datasets: [{
					    label: "Group Attribute",
					    backgroundColor: "rgba(0,0,200,0.2)",
					    data: data2
					  }]	
				}
				var attributeCanvas = document.getElementById("attributeChart");
				var attributeData = {
				  labels: labels1,
				  datasets: [{
				    label: "Attribute",
				    backgroundColor: "rgba(200,0,0,0.2)",
				    data: data1
				  }],
				};
				
			
				var radarChart1 = new Chart(attributeCanvas, {
				  type: 'radar',
				  data: attributeData,
				  options: {
				        title: {
				            display: true,
				            text: 'Attribute Result Chart'
				        }
				    }
				});
				var radarChart2 = new Chart(groupaCanvas, {
					  type: 'radar',
					  data: groupaData,
					  options: {
					        title: {
					            display: true,
					            text: 'Group Attribute Result Chart'
					        }
					    }
					});
			</script>

			<div class="ui buttons" id="btn">
				<button class="ui positive button">Home page</button>
			</div>
	
		</form>
	</div>
	

</body>
</html>