<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"
	rel="stylesheet" />

<link rel='stylesheet prefetch'
	th:href='@{/css/menu.css}' />
<link rel='stylesheet prefetch'
	th:href='@{/css/style.css}' />
<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.css}"/>

<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.js"></script>
<style type="text/css">
#dropdown {
	color: white;
	font-weight: bold;
}
</style>
<script th:inline="javascript">
$(document).ready(
		function() {
			$('.checkbox').change(
					function() {
						//$(this).nextUntil('input[type=checkbox]').attr( 'disabled', !$(this).is(':checked'));
						$(this).parents("div#check").children().children()
								.children().attr('disabled',
										!$(this).is(':checked'));
						// 							$(this).parents("div#check").children().children().children().children().attr('disabled', !$(this).is(':checked'));
					});
			$("#multi-select").dropdown("get value");
		});

function validateForm() {
	var listGroupaVO=[[${scenarioVO.listGroupaVO}]]
	var totalWeight=0;
	//<![CDATA[
	for(var i=0;i<listGroupaVO.length;i++){
		totalWeight=totalWeight+listGroupaVO[i].weight;
	}
	//]]>
	console.log(totalWeight);
	if(totalWeight==100)
		return true;
	else
		return false;
}
</script>
</head>
<body>
	<div class="ui inverted segment">
		<div class="ui inverted secondary pointing menu">
			<a th:href="@{/}" class="item" id="item1"> Home </a> <a
				th:href="@{/selectScenario}" class="item"> Survey </a> <a
				class="item"> Results </a>
			<div class="ui simple dropdown item" id="dropdown"> Dropdown <i class="dropdown icon"></i>
				<div class="ui inverted vertical menu" id="dropDownMenu">
					<a class="item" th:href="@{/admin/listUser}">User Management</a> 
					<a class="item" th:href="@{/admin/listQuestion}">Question Management</a> 
					<a class="item" th:href="@{/admin/listCategory}">Category Management</a> 
					<a class="item" th:href="@{/admin/listScenario}">Scenario Management</a> 
					<a class="item" th:href="@{/admin/listAttribute}">Attribute Management</a>  
				</div>
			</div>
			<a class="right item" th:href="@{/logout}" style="color: white">
				<i class="user icon"></i> Log out
			</a>
		</div>

	</div>
	<div id="main">
		<form class="ui form" th:action="@{scenarioSetting1}" method="POST" id="formScenarioSetting1" th:object="${scenarioVO}" >
			<h1 class="ui dividing header">Setting Scenario</h1>
			<br />
			<div class="field">
				<h3>Scenario ID</h3> <input type="text"
					th:field="*{scenarioId}" readonly="readonly" required="required" />
			</div>
			<div class="field">
				<h3>Select categories</h3>
			</div>
			<div  th:each="categoryVO,c: ${allCategoryVO}">
				<div class="fields" id="check">
					<div class="two wide inline field">
						<input class="ui checkbox " type="checkbox" th:field="*{listCategoryVO[__${c.index}__].checked}"></input>
						<label class="wide category" th:for="${categoryVO.categoryName}" th:text="${categoryVO.categoryName}"></label>
						<input type="hidden"  th:field="*{listCategoryVO[__${c.index}__].categoryId}" ></input>
						<input type="hidden" th:field="*{listCategoryVO[__${c.index}__].categoryName}"></input>
					</div>
					<div class="fourteen wide field">
					<div >
						<label> Number Question </label> 
						<input class="text" type="text" th:if="*{listCategoryVO[__${c.index}__].checked}"
							th:field="*{listCategoryVO[__${c.index}__].numQuestion}"></input>
						<input class="text" type="text" th:unless="*{listCategoryVO[__${c.index}__].checked}"
							th:field="*{listCategoryVO[__${c.index}__].numQuestion}" disabled="disabled"></input>
					</div>
					</div>
					<br />
				</div>
				<br />
			</div>
			<div class="field">
				<h3>Select Attribute</h3>
				<div class="ui multiple selection dropdown">
					<i class="dropdown icon"></i>
					<div class="default text">Tag Multiple Attributes</div>
					<select  id="multi-select" th:field="*{listAttributeId}" multiple="multiple">
						<option th:each="attribute,state :${allAttribute}"
								 th:value="${attribute.attributeId}" th:text="${attribute.attributeName}"></option>
					</select>
				</div>
				<div th:if="${not #lists.isEmpty(scenarioVO.listAttributeVO)}">
					<div  th:each="attributeVO,c: ${scenarioVO.listAttributeVO}">
						<input  type="hidden" th:field="*{listAttributeVO[__${c.index}__].attributeId}"></input>
						<input  type="hidden" th:field="*{listAttributeVO[__${c.index}__].attributeName}"></input>
						<input  type="hidden" th:field="*{listAttributeVO[__${c.index}__].score}"></input>
						<input type="hidden" th:field="*{listAttributeVO[__${c.index}__].groupaVO.groupaId}"></input>
					</div>
				</div>
			</div>
			<div class="field">
				<h3>Create Group Attribute</h3>
			</div>	
			<div th:each="groupaVO,state: ${scenarioVO.listGroupaVO}">
				<input type="hidden"
							th:field="*{listGroupaVO[__${state.index}__].groupaId}" />
				<div class="inline fields">
					<div class="inline six wide field">
						<label>Group Attribute </label> <input
							th:field="*{listGroupaVO[__${state.index}__].groupaName}" />
					</div>
					<div class="inline field">
						<label> Weight</label> <input
							th:field="*{listGroupaVO[__${state.index}__].weight}" />
					</div>
					<div class="inline field">
						<button name="remoteGroupa" th:value="${state.index}">Delete</button>
					</div>
				</div>
			</div>
			<button name="addGroupa">Add Group Attribute</button>
			<br />
			<div class="ui buttons" id="btn">
				<a class="ui positive button" th:href="@{/admin/listScenario/}">Cancel</a>
				<div class="or"></div>
				<button class="ui positive button" id="buttonNext" onclick="return validateForm()">Next</button>
			</div>
		</form>
	</div>

</body>
</html>