<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"
	rel="stylesheet" />

<link rel='stylesheet prefetch'
	th:href='@{/css/menu.css}' />
<link rel='stylesheet prefetch'
	th:href='@{/css/style.css}' />
<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.css}"/>

<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.js"></script>
<style type="text/css">
#dropdown {
	color: white;
	font-weight: bold;
}
#btn{
	padding-left: 46%;
}
</style>
<script>
	$(document).ready(
			function() {
				$('.checkbox').change(
						function() {
							//$(this).nextUntil('input[type=checkbox]').attr( 'disabled', !$(this).is(':checked'));
							$(this).parents("div#check").children().children()
									.children().attr('disabled',
											!$(this).is(':checked'));
							// 							$(this).parents("div#check").children().children().children().children().attr('disabled', !$(this).is(':checked'));
						})
			});
</script>
</head>
<body>
	<div class="ui inverted segment">
		<div class="ui inverted secondary pointing menu">
			<a th:href="@{/}" class="item" id="item1"> Home </a> <a
				th:href="@{/selectScenario}" class="item"> Survey </a> <a
				class="item"> Results </a>
			<div class="ui simple dropdown item" id="dropdown">
				Dropdown <i class="dropdown icon"></i>
				<div class="ui inverted vertical menu" id="dropDownMenu">
					<a class="item" th:href="@{/admin/listUser}">User Management</a> 
					<a class="item" th:href="@{/admin/listQuestion}">Question Management</a> 
					<a class="item" th:href="@{/admin/listCategory}">Category Management</a> 
					<a class="item" th:href="@{/admin/listScenario}">Scenario Management</a> 
					<a class="item" th:href="@{/admin/listAttribute}">Attribute Management</a> 
				</div>
			</div>
			<a class="right item" th:href="@{/logout}" style="color: white">
				<i class="user icon"></i> Log out
			</a>
		</div>

	</div>
	<div id="main">
		<form class="ui form" th:object="${scenario}">
			<h1 class="ui dividing header">Scenario Detail</h1>
			<br />
			<div class="field">
				<label>Scenario ID</label> <input type="text"
					th:field="*{scenarioId}" readonly="readonly" required="required" />
			</div>

			<div class=" field">
				<h3>List Category and NumberQuestion</h3>
				<div class="field"
					th:each="scenarioCategory,state: ${scenario.scenarioCategories}">
					<div class="field">
						<label th:inline="text"> Category [[${state.index}]] : </label>
					</div>
					<div class="inline fields" style="padding-left: 30px">
						<div class="field">
							<label> Category Name :</label>
							<input th:value="${scenarioCategory.category.categoryName}"
								readonly="readonly"></input>
						</div>
						
						<div class="field">
							<label> Number question :</label>
							<input th:value="${scenarioCategory.numquestion}"
								readonly="readonly"></input>
						</div>
					</div>
				</div>
			</div>
			<div class="field">
				<h3>List Group Attribute and Weight</h3>
				<div class="fields" th:each="scenarioGroupa,state: ${scenario.scenarioGroupas}">
					<div class="field">
						<label th:inline="text">Group Attribute [[${state.index}]] : </label>
					</div>
					<div class="field" style="padding-left: 30px">
						<div  class="inline fields">
							<div class="field">
								<label> Group Attribute Name :</label>
								<input th:value="${scenarioGroupa.groupa.groupaName}" readonly="readonly"></input>
							</div>
							<div class="field">
								<label> Group Attribute Weight :</label>
								<input th:value="${scenarioGroupa.weight}" readonly="readonly"></input>
							</div>
						</div>
						<div class="field"  th:each="scenarioGroupaAttribute,c: ${scenarioGroupa.scenarioGroupaAttributes}">
							<label th:inline="text">Attribute [[${c.index}]] :</label>
							<div class="fields" style="padding-left: 45px">
								<div class="fields">
									<div class="inline field">
									<label> Attribute Name :</label>
									<input th:value="${scenarioGroupaAttribute.attribute.attributeName}" readonly="readonly" ></input>
								</div>
								<br />
								</div>
								<div class="fields">
									<div class="inline field">
										<label> Attribute Score :</label>
										<input th:value="${scenarioGroupaAttribute.score}" readonly="readonly" ></input>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
			<div class="ui buttons" id="btn">
				<a class="ui positive button"  th:href="@{/admin/listScenario/}">OK</a>
			</div>
		</form>
	</div>

</body>
</html>