<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"
	rel="stylesheet" />

<link rel='stylesheet prefetch'
	th:href='@{/css/menu.css}' />
<link rel='stylesheet prefetch'
	th:href='@{/css/style.css}' />
<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.css}"/>

<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.js"></script>
<style type="text/css">
#dropdown {
	color: white;
	font-weight: bold;
}
</style>
<script>
	$(document).ready(
			function() {
				$('.checkbox').change(
						function() {
							//$(this).nextUntil('input[type=checkbox]').attr( 'disabled', !$(this).is(':checked'));
							$(this).parents("div#check").children().children()
									.children().attr('disabled',
											!$(this).is(':checked'));
							// 							$(this).parents("div#check").children().children().children().children().attr('disabled', !$(this).is(':checked'));
						})
			});
</script>
</head>
<body>
	<div class="ui inverted segment">
		<div class="ui inverted secondary pointing menu">
			<a th:href="@{/}" class="item" id="item1"> Home </a> <a
				th:href="@{/selectScenario}" class="item"> Survey </a> <a
				class="item"> Results </a>
			<div class="ui simple dropdown item" id="dropdown">
				Dropdown <i class="dropdown icon"></i>
				<div class="ui inverted vertical menu" id="dropDownMenu">
					<a class="item" th:href="@{/admin/listUser}">User Management</a> 
					<a class="item" th:href="@{/admin/listQuestion}">Question Management</a> 
					<a class="item" th:href="@{/admin/listCategory}">Category Management</a> 
					<a class="item" th:href="@{/admin/listScenario}">Scenario Management</a> 
					<a class="item" th:href="@{/admin/listAttribute}">Attribute Management</a> 
				</div>
			</div>
			<a class="right item" th:href="@{/logout}" style="color: white">
				<i class="user icon"></i> Log out
			</a>
		</div>

	</div>
	
	
	
	<div id="main">
		<input type="hidden" th:field="${scenarioVO}"></input>
		<form class="ui form" th:action="@{scenarioSetting2}" method="POST" th:object="${scenarioVO}">
			<h1 class="ui dividing header">Setting Scenario</h1>
			<br />
			<div class="field">
				<label>Scenario ID</label> <input type="text"
					th:field="*{scenarioId}" readonly="readonly" required="required" />
			</div>
		
				<div class="fields">
					<div class="twelve wide fields">
						<h3>List Category and NumberQuestion</h3>
						<div class="fields" th:each="categoryVO,state: ${scenarioVO.listCategoryVO}">
							<div class="eight wide field" th:if="${categoryVO.checked}">
								<label class="wide category" th:for="${categoryVO.categoryName}" th:text="${categoryVO.categoryName}"></label>
								<input type="hidden" th:field="*{listCategoryVO[__${state.index}__].categoryId}"></input>
								<input type="hidden" th:field="*{listCategoryVO[__${state.index}__].categoryName}"></input>
								<input th:field="*{listCategoryVO[__${state.index}__].numQuestion}" readonly="readonly"></input>
								<input type="hidden" th:field="*{listCategoryVO[__${state.index}__].checked}"></input>
							</div>
						</div>
					</div>
					<div class="twelve wide fields">	
						<h3>List Group Attribute and Weight</h3>
						<div class="fields" th:each="groupaVO,state: ${scenarioVO.listGroupaVO}">
							<div class="eight wide field"  >
								<label class="wide groupa" th:for="${groupaVO.groupaName}" th:text="${groupaVO.groupaName}"></label>
								<input type="hidden" th:field="*{listGroupaVO[__${state.index}__]}"></input>
								<input type="hidden" th:field="*{listGroupaVO[__${state.index}__].groupaId}"></input>
								<input type="hidden" th:field="*{listGroupaVO[__${state.index}__].groupaName}"></input>
								<input th:field="*{listGroupaVO[__${state.index}__].weight}" readonly="readonly"></input>
							</div>
						</div>
					</div>
				</div>
		
			
			<div class="field">
				<h3>Select attribute</h3>
			</div>
			<div id="check" th:each="attributeVO,c: ${scenarioVO.listAttributeVO}">
				<input type="hidden" th:field="*{listAttributeId[__${c.index}__]}" ></input>
				<input type="hidden" th:field="*{listAttributeVO[__${c.index}__].attributeId}" ></input>
				<input type="hidden" th:field="*{listAttributeVO[__${c.index}__].attributeId}" ></input>
				<input type="hidden" th:field="*{listAttributeVO[__${c.index}__].attributeName}" ></input>
				<div class="fields">
					<div class="two wide inline field">
						<label class="wide category" th:text="${attributeVO.attributeName}"></label>
					</div>
					<div class="eleven wide field">
						<label>Score </label> 
						<input class="text" type="text" th:field="*{listAttributeVO[__${c.index}__].score}"></input>
					</div>
					<div class="field">
						<label>Group Attribute VO</label>
						<select th:field="*{listAttributeVO[__${c.index}__].groupaVO.groupaId}">
							<option th:each="groupaVO: ${scenarioVO.listGroupaVO}" th:value="${groupaVO.groupaId}" th:text="${groupaVO.groupaName}"></option>	
						</select>
					</div>
					<br />
				</div>
				<br />
			</div>
			<div class="ui buttons" id="btn">
				<button class="ui positive button" name="previous">Previous</button>
				<div class="or"></div>
				<button class="ui positive button">Finish</button>
			</div>
		</form>
	</div>

</body>
</html>