<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"
	rel="stylesheet" />

<link rel='stylesheet prefetch'
	th:href='@{/css/menu.css}' />
<link rel='stylesheet prefetch'
	th:href='@{/css/style.css}' />
<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.css}"/>

<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/dropdown.js"></script>

<script type="text/javascript">
	$(document).ready(function() {

		$('.ui.radio.checkbox').checkbox();
		$('.ui .item').on('click', function() {
			   $('.ui .item').removeClass('active');
			   $(this).addClass('active');
			}); 

	});
</script>
<style type="text/css">
body {
	padding: 25px;
}

.header {
	text-align: center;
	padding: 25px 25px;
}

#main {
	padding: 25px 150px;
	font-size: 16px;
}

#btn {
	margin: auto;
	padding-top: 20px;
	padding-left: 40%;
	font-size: 30px;
}

label {
	font-weight: bold;
}
</style>
</head>
<body>
	
	
	<div class="ui inverted segment">
		<div class="ui inverted secondary pointing menu">
			<a th:href="@{/}" class="item" id="item1"> Home </a>
			<a th:href="@{/selectScenario}" class="active item"> Survey </a>
			<a class="item"> Friends </a>
		</div>
	</div>

	<div id="main">
		<form class="ui form" method="POST" th:action='@{result}' name="frmAddQuestion" id="formQuestion" >
			<input type="hidden" th:field="*{surveyVO.userScenarioId}" />
			<h1 class="ui dividing header" th:text="${userScenario.scenario.scenarioName}">Survey</h1>
			<div class="field">
				<label>UserName</label>
				<input type="text" th:field="*{userScenario.user.username}" readonly="readonly" required="required" />
			</div>
			<input type="hidden" th:field="*{surveyVO.userScenarioId}" />
			<div th:each="questionVO,state: ${surveyVO.listQuestionVO}"
				class="ui form">
				<div class="grouped fields">
					<label th:inline="text"> Question [[${state.index}+1]] : [[${questionVO.questionContent}]] </label>
					<input type="hidden" th:field="*{surveyVO.listQuestionVO[__${state.index}__].questionId}" />
					<input type="hidden" th:field="*{surveyVO.listQuestionVO[__${state.index}__].questionContent}" />
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" th:name="${'questionVO.questionId'}" th:field="*{surveyVO.listQuestionVO[__${state.index}__].answer}" th:value='1' /> 
							<label>Yes</label> 
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" th:name="${'questionVO.questionId'}" th:field="*{surveyVO.listQuestionVO[__${state.index}__].answer}" th:value='0' /> 
							<label>No</label> 
						</div>
					</div>
				</div>
			</div>

			<div class="ui buttons" id="btn">
				<a class="ui positive button" th:href="@{/}">Cancel</a>
				<div class="or"></div>
				<button class="ui positive button">Submit</button>
			</div>
		</form>
	</div>



</body>
</html>